In [ ]:
,#pip install seaborn - installed already

In [1]:
# Import functions
from pyspark.sql.types import *
from pyspark.sql import functions 

import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Set File Paths 
# Download these files from Moodle
# Copy these files to hadoop framewrok by using the following command
# Create a tmp folder on hadoop by using $hadoop fs -mkdir /tmp
# $hadoop fs -put ./airport-codes-na.txt /tmp

flightpricepath = "/user1/Full_Flight_Dataset.csv"


# Obtain Flight Price dataset
flightPrice = spark.read.csv(flightpricepath, header='true')
flightPrice.createOrReplaceTempView("FlightPrice")

# Cache the Flight Price dataset 
flightPrice.cache()
flightPrice.first()

2023-04-07 16:46:40,993 WARN csv.CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , airline, flight, source_city, departure_time, stops, arrival_time, destination_city, class, duration, days_left, price
 Schema: _c0, airline, flight, source_city, departure_time, stops, arrival_time, destination_city, class, duration, days_left, price
Expected: _c0 but found:
CSV file: hdfs://localhost:9000/user1/Full_Flight_Dataset.csv

Row(_c0='0', airline='SpiceJet', flight='SG-8709', source_city='Delhi', departure_time='Evening', stops='zero', arrival_time='Night', destination_city='Mumbai', class='Economy', duration='2.17', days_left='1', price='5953')

In [3]:
df=spark.sql("select * from FlightPrice")
#df.count()

In [4]:
df_flightprice=spark.sql("select  airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price from FlightPrice")
df_flightprice.show()

+---------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
|  airline|source_city|departure_time|stops| arrival_time|destination_city|  class|duration|days_left|price|
+---------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
| SpiceJet|      Delhi|       Evening| zero|        Night|          Mumbai|Economy|    2.17|        1| 5953|
| SpiceJet|      Delhi| Early_Morning| zero|      Morning|          Mumbai|Economy|    2.33|        1| 5953|
|  AirAsia|      Delhi| Early_Morning| zero|Early_Morning|          Mumbai|Economy|    2.17|        1| 5956|
|  Vistara|      Delhi|       Morning| zero|    Afternoon|          Mumbai|Economy|    2.25|        1| 5955|
|  Vistara|      Delhi|       Morning| zero|      Morning|          Mumbai|Economy|    2.33|        1| 5955|
|  Vistara|      Delhi|       Morning| zero|    Afternoon|          Mumbai|Economy|    2.33|        1| 5955|
|  Vistara|      Delhi|       Morning| zero|      Morning|          Mumbai|Economy|    2.08|        1| 6060|
|  Vistara|      Delhi|     Afternoon| zero|      Evening|          Mumbai|Economy|    2.17|        1| 6060|
| GO_FIRST|      Delhi| Early_Morning| zero|      Morning|          Mumbai|Economy|    2.17|        1| 5954|
| GO_FIRST|      Delhi|     Afternoon| zero|      Evening|          Mumbai|Economy|    2.25|        1| 5954|
| GO_FIRST|      Delhi|     Afternoon| zero|      Evening|          Mumbai|Economy|    2.25|        1| 5954|
| GO_FIRST|      Delhi|       Morning| zero|    Afternoon|          Mumbai|Economy|    2.33|        1| 5954|
|   Indigo|      Delhi| Early_Morning| zero|      Morning|          Mumbai|Economy|    2.17|        1| 5955|
|   Indigo|      Delhi|       Morning| zero|    Afternoon|          Mumbai|Economy|    2.17|        1| 5955|
|   Indigo|      Delhi|     Afternoon| zero|      Evening|          Mumbai|Economy|    2.25|        1| 5955|
|   Indigo|      Delhi|       Morning| zero|      Morning|          Mumbai|Economy|    2.33|        1| 5955|
|Air_India|      Delhi| Early_Morning| zero|      Morning|          Mumbai|Economy|    2.08|        1| 5955|
|Air_India|      Delhi| Early_Morning| zero|      Morning|          Mumbai|Economy|    2.17|        1| 5955|
|  AirAsia|      Delhi|       Evening|  one|Early_Morning|          Mumbai|Economy|   12.25|        1| 5949|
|  AirAsia|      Delhi|       Evening|  one|      Morning|          Mumbai|Economy|   16.33|        1| 5949|
+---------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
only showing top 20 rows

In [5]:
#df_flightprice_pandas=df_flightprice.toPandas()

In [6]:
#df_flightprice_pandas.head()

In [5]:
df_flightprice1 = df_flightprice.withColumn('airline',functions.when(df_flightprice['airline']=='AirAsia',1)
                                            .when(df_flightprice['airline']=='Air_India',2)
                                           .when(df_flightprice['airline']=='GO_FIRST',3)
                                            .when(df_flightprice['airline']=='Indigo',4)
                                            .when(df_flightprice['airline']=='SpiceJet',5)
                                            .when(df_flightprice['airline']=='Vistara',6)
                                           
                                           
                                           )

In [6]:
df_flightprice1 = df_flightprice1.withColumn('source_city',functions.when(df_flightprice['source_city']=='Bangalore',1)
                                            .when(df_flightprice['source_city']=='Chennai',2)
                                           .when(df_flightprice['source_city']=='Delhi',3)
                                            .when(df_flightprice['source_city']=='Hyderabad',4)
                                            .when(df_flightprice['source_city']=='Kolkata',5)
                                            .when(df_flightprice['source_city']=='Mumbai',6)
                                           
                                           )

In [7]:
df_flightprice1 = df_flightprice1.withColumn('destination_city',functions
                                            .when(df_flightprice['destination_city']=='Bangalore',1)
                                            .when(df_flightprice['destination_city']=='Chennai',2)
                                            .when(df_flightprice['destination_city']=='Delhi',3)
                                            .when(df_flightprice['destination_city']=='Hyderabad',4)
                                            .when(df_flightprice['destination_city']=='Kolkata',5)
                                            .when(df_flightprice['destination_city']=='Mumbai',6)
                                           
                                           )

In [8]:
df_flightprice1 = df_flightprice1.withColumn('departure_time',functions
                                            .when(df_flightprice['departure_time']=='Early_Morning',1)
                                            .when(df_flightprice['departure_time']=='Morning',2)
                                            .when(df_flightprice['departure_time']=='Afternoon',3)
                                            .when(df_flightprice['departure_time']=='Evening',4)
                                            .when(df_flightprice['departure_time']=='Night',5)
                                            .when(df_flightprice['departure_time']=='Late_Night',6)
                                           
                                           )

In [9]:
df_flightprice1 = df_flightprice1.withColumn('arrival_time',functions
                                            .when(df_flightprice['arrival_time']=='Early_Morning',1)
                                            .when(df_flightprice['arrival_time']=='Morning',2)
                                            .when(df_flightprice['arrival_time']=='Afternoon',3)
                                            .when(df_flightprice['arrival_time']=='Evening',4)
                                            .when(df_flightprice['arrival_time']=='Night',5)
                                            .when(df_flightprice['arrival_time']=='Late_Night',6)
                                           
                                           )

In [10]:
df_flightprice1 = df_flightprice1.withColumn('stops',functions
                                            .when(df_flightprice['stops']=='zero',0)
                                            .when(df_flightprice['stops']=='one',1)
                                            .when(df_flightprice['stops']=='two_or_more',2)
                                            
                                           )

In [11]:
df_flightprice1 = df_flightprice1.withColumn('class',functions
                                            .when(df_flightprice['class']=='Business',1)
                                            .otherwise(2)
                                            
                                           )

In [14]:
df_flightprice1.show()

+-------+-----------+--------------+-----+------------+----------------+-----+--------+---------+-----+
|airline|source_city|departure_time|stops|arrival_time|destination_city|class|duration|days_left|price|
+-------+-----------+--------------+-----+------------+----------------+-----+--------+---------+-----+
|      5|          3|             4|    0|           5|               6|    2|    2.17|        1| 5953|
|      5|          3|             1|    0|           2|               6|    2|    2.33|        1| 5953|
|      1|          3|             1|    0|           1|               6|    2|    2.17|        1| 5956|
|      6|          3|             2|    0|           3|               6|    2|    2.25|        1| 5955|
|      6|          3|             2|    0|           2|               6|    2|    2.33|        1| 5955|
|      6|          3|             2|    0|           3|               6|    2|    2.33|        1| 5955|
|      6|          3|             2|    0|           2|               6|    2|    2.08|        1| 6060|
|      6|          3|             3|    0|           4|               6|    2|    2.17|        1| 6060|
|      3|          3|             1|    0|           2|               6|    2|    2.17|        1| 5954|
|      3|          3|             3|    0|           4|               6|    2|    2.25|        1| 5954|
|      3|          3|             3|    0|           4|               6|    2|    2.25|        1| 5954|
|      3|          3|             2|    0|           3|               6|    2|    2.33|        1| 5954|
|      4|          3|             1|    0|           2|               6|    2|    2.17|        1| 5955|
|      4|          3|             2|    0|           3|               6|    2|    2.17|        1| 5955|
|      4|          3|             3|    0|           4|               6|    2|    2.25|        1| 5955|
|      4|          3|             2|    0|           2|               6|    2|    2.33|        1| 5955|
|      2|          3|             1|    0|           2|               6|    2|    2.08|        1| 5955|
|      2|          3|             1|    0|           2|               6|    2|    2.17|        1| 5955|
|      1|          3|             4|    1|           1|               6|    2|   12.25|        1| 5949|
|      1|          3|             4|    1|           2|               6|    2|   16.33|        1| 5949|
+-------+-----------+--------------+-----+------------+----------------+-----+--------+---------+-----+
only showing top 20 rows

In [15]:
#Import Numpy
import numpy as np

In [ ]:
df_flightprice1.select("airline").limit(50000).collect()

In [ ]:
data_array =  np.array(df_flightprice1.select("airline", "source_city", "departure_time","stops","arrival_time","destination_city","class","duration","days_left","price").limit(50000).collect())
#data_array #view the array

In [ ]:
#df_flightprice2 =  df_flightprice1.select("airline", "source_city", "departure_time","stops","arrival_time","destination_city","class","duration","days_left","price").limit(25000)

#df_flightprice2.count()

In [17]:
df_flightpricex =  df_flightprice1.select("airline", "source_city", "departure_time","stops","arrival_time","destination_city","class","duration","days_left","price").filter("class=1").limit(25000)
df_flightpricey =  df_flightprice1.select("airline", "source_city", "departure_time","stops","arrival_time","destination_city","class","duration","days_left","price").filter("class=2").limit(25000)
df_flightprice3=df_flightpricex.union(df_flightpricey)

In [18]:
#df_flightprice2.write.option("header",True)
#df_flightprice2.write.option("delimiter","|")

df_flightprice3.write.mode("append").csv("/user1")

2023-04-06 12:38:30,536 WARN csv.CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , airline, flight, source_city, departure_time, stops, arrival_time, destination_city, class, duration, days_left, price
 Schema: _c0, airline, flight, source_city, departure_time, stops, arrival_time, destination_city, class, duration, days_left, price
Expected: _c0 but found:
CSV file: hdfs://localhost:9000/user1/Full_Flight_Dataset.csv

In [ ]:
df_flightprice2.show()

In [ ]:
data_array.shape

In [ ]:
df_flightprice1_pandas=df_flightprice1.toPandas()

In [ ]:
sns.pairplot(df_flightprice1_pandas.head(50000))

In [ ]:
X = data_array[:,:9]
y = data_array[:,9]
print(X,y)

#Use minmax scalar so that shape of the dataset is preserved

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scale=MinMaxScaler()
X=scale.fit_transform(X)
y=y.reshape(-1,1)
y=scale.fit_transform(y)

In [ ]:
print(X,y)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [ ]:
pip install keras

In [ ]:
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [ ]:
import tensorflow as tf

In [ ]:
from keras import Sequential

In [ ]:
from keras.layers import Dense

In [ ]:
def build_regressor():
    regressor = Sequential()
    regressor.add(Dense(units=9, input_dim=9))
    regressor.add(Dense(units=1))
    regressor.compile(optimizer='adam', loss='mean_squared_error',  metrics=['mae','accuracy'])
    return regressor